.btn-container{
	display: flex;
	margin-left: 25px;
	
	.btn-arrow-left {
		&:focus {
			outline: none;
		}
	}
	
	.btn-text{
		font-family: $secondary-font-family;
		font-weight: 400;
		font-size: 20px;
		margin-left: 5px;
	}
}

.btn {
	background: transparent;
	border: 0px,
}




