.btn-delete {
	margin-left: auto;
	
	border: 0;
	height: 40px;
    font-size: 0.7em;
    border-radius: 26px;
    width: 7.5em;
    color: white;
    background-color: #443669;
	font-weight: bold;
	
	&:focus {
		outline: none;
	}
}