.home-container {
	display: flex;

	.home-calendar {
		width: 60%;
		position: relative;

		.ant-picker-calendar-header {
			padding: 38px 15px;

			.ant-select-selector {
				border: 0;

				.ant-select-selection-item {
					padding-right: 0;
				}
			}

			.ant-select, .ant-select-focused .ant-select-selector {
				box-shadow: none;
			}
			
			.ant-select.ant-picker-calendar-year-select {
				min-width: 0;
				font-size: 20px;
				
				.ant-select-selector {
					padding-right: 8px;
				}

				.ant-select-selection-item {
					border-bottom: 1px solid lightgray;
				}
			}

			.ant-select.ant-picker-calendar-month-select {
				margin-right: 45px;
				margin-left: 0px;
				font-size: 20px;

				.ant-select-selection-search {
					border-bottom: 1px solid lightgray;
				}
			}

			.ant-select-arrow {
				color: transparent;
			}
		}

		.ant-radio-group {
			display: none;
		}

		.home-calendar_month {
			position: absolute;
			top: 13px;
			left: 30px;
			font-family: 'Bebas Neue', cursive;
			font-size: 50px;
		}

		.btn-add-todo {
			position: absolute;
			top: 44px;
			right: 50px;
			padding: 0;
			outline: none;

			svg {
				width: 20px;
				height: 20px;
			}

			&:hover {
				color: lightgray;
			}
		}

		.btn-search {
			position: absolute;
			top: 44px;
			right: 15px;
			border: 0;
			outline: none;

			svg {
				width: 20px;
				height: 20px;
			}

			&:hover {
				color: lightgray;
			}
		}
		
		.ant-picker-panel {
			thead {
				font-size: 20px;
				
				th {
					color: gray;
					line-height: 25px;
					padding: 0 25px 50px 15px;
					letter-spacing: 0.1em;
					font-family: $secondary-font-family;
					font-weight: 500;
					text-align: center;
				}
			}

			tbody{
				font-size: 15px;
				text-align: center;
				
				.ant-picker-cell-inner.ant-picker-calendar-date {
					border-top: 0px;
					padding: 0 25px 0 15px;
					font-family: $secondary-font-family;
					font-weight: 700;
					font-size: 16px;
				}

				.ant-picker-calendar-date-content{
					height: 70px;
					text-align: center;
				}
			}
		}
	}

	.home-action {
		width: 40%;
		margin: 40px;
	}
}