.home-container {
	display: flex;

	.home-calendar {
		width: 70%;
		position: relative;

		.ant-picker-calendar-header {
			padding: 38px 15px;

			.ant-select {
				right: 70px;
			}

			.ant-select.ant-picker-calendar-year-select.ant-select-single.ant-select-show-arrow {
				right: 80px;
			}
		}

		.ant-picker-cell-inner.ant-picker-calendar-date {
			height: 14vh !important;
			border-top: 0px;
		}

		.ant-radio-group {
			display: none;
		}

		.home-calendar_month {
			position: absolute;
			top: 13px;
			left: 48px;
			font-family: 'Bebas Neue', cursive;
			font-size: 50px;
		}

		.btn-add-todo {
			position: absolute;
			z-index: 2;
			top: 44px;
			right: 50px;
			color: black;
	
			svg {
				width: 20px;
				height: 20px;
			}
		}

		.btn-search {
			position: absolute;
			top: 44px;
			right: 15px;

			svg {
				width: 20px;
				height: 20px;
			}
		}

		.ant-picker-panel {
			thead {
				font-size: 20px;
				
				th {
					color: gray;
					line-height: 25px;
					padding: 0 45px 0px 15px;
					letter-spacing: 0.1em;
					font-family: 'Montserrat', sans-serif;
					font-weight: 500;
				}
			}
		}
	}

	.home-todo {
		width: 30%;
	}
}