.todos-container-header {
	margin-bottom: 38px;
    font-size: 1.6em;
    font-family: fangsong;
    font-weight: 500;
}

.timeline {
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0);
	font-family: $secondary-font-family;
	display: flex;
	align-items: center;

	.timeline-time{
		font-size: 16px;
	}

	.timeline-todo a {
		color: $secondary-color;
		font-size: 20px;
		font-weight: 700;

		&:hover {
			color: $tertiary-color;
		}
	}
}