.todos-container-header {
	margin-bottom: 38px;
    font-size: 1.6em;
    font-family: fangsong;
	font-weight: 500;
	
	@media (max-width: 940px) {
		font-size: 1.3em;
	}
}

.timeline {
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0);
	font-family: $secondary-font-family;

	.timeline-time{
		font-size: 16px;
	}

	.todo-btn-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 5px;

		.timeline-todo a {
			color: $secondary-color;
			font-size: 20px;
			font-weight: 700;
			word-wrap: break-word;

			@media (max-width: 940px) {
				font-size: 15px;
			}
	
			&:hover {
				color: $tertiary-color;
			}
		}
	}
}