.todo-container {
	position: relative;
	margin-left: 20px;
	margin-right: 20px;

	.btn-container {
		margin-top: 30px;
	}

	.btn-edit {
		position: absolute;
		top: 0;
		right: 20px;
		border: 0;
		height: 40px;
		font-size: 0.7em;
		border-radius: 26px;
		width: 7.5em;
		color: white;
		background-color: #443669;
		font-weight: bold;

		&:focus {
			outline: none;
		}
	}

	.todo-info {
		margin-left: 70px;
    	margin-right: 70px;
		padding: 15px 20px;
		display: flex;
		flex-direction: column;
		font-family: 'Montserrat';

		@media (max-width: 940px) {
			margin-left: 20px;
			margin-right: 20px;
			padding: 15px 20px;
			display: block;
			font-family: 'Montserrat';
		}

		.todo-body{
			display: flex;

			@media (max-width: 940px) {
				flex-direction: column;
			}

			.todo-text {
				width: 40%;

				@media (max-width: 940px) {
					width: 100%;
				}

				p {
					margin-left: 15px;
				}
	
				&:after {
					content: '';
					position: fixed;
					top: 0;
					width: 60%;
					background: #eff4fc;
					height: 100%;
					left: 0;
					z-index: -1;
				}
			}
	
			.todo-file {
				@media (max-width: 940px) {
					margin-left: 15px;
				}

				p {
					margin-bottom: 8px;
				}
	
				img {
					max-width: 95%;
					border: 1px solid black;
					border-radius: 5px;
					margin-bottom: 10px;
					max-height: 30em;
				}
			}
		}
	}
}
